</main>

  <div class="fixed-bottom text-bg-todo">
    <footer class="d-flex flex-wrap justify-content-between align-items-center my-4">
      <div class="col-md-4 d-flex align-items-center px-4">
        <span class="mb-3 mb-md-0 text-body-primary text-white ">© 2023 Rajat Tarade</span>
      </div>
    </footer>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>